/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
html{
  height: 100%;
}
body {
  background: #faf7f2;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100%;
}


/* HEADER */
header {
  background: #1e293b;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.logo:hover{
  opacity: 0.8;
}
.search-bar {
  position: relative;
  flex: 1;
  max-width: 400px;
}
.search-bar input {
  width: 100%;
  padding: 0.6rem 2.5rem 0.6rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}
.search-bar i {
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
}
select {
  cursor: pointer;
  padding: 0.6rem 2.5rem 0.6rem 1rem;
  border-radius: 8px;
}
label input{
  cursor: pointer;
}
main{
  flex-grow: 1;
}
/* BUTTON */
button{
  text-transform: capitalize;
}
.btn-primary {
  background: #faf7f2;
  color: #333;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary:hover { background: #ffe7c2; color: #222;}

.btn-secondary {
  background: #95a5a6;
  color: white;
}

.btn-small {
  padding: 0.4rem 0.8rem;
  font-size: 0.85rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-edit { background: #56cc87; color: white; }
.btn-edit:hover { background: #0d9746; }
.btn-delete { background: #d46053; color: white; }
.btn-delete:hover { background: #cc1c08; }

/* STATS */
.stats {
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  flex-wrap: wrap;
}
.stat-card {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  flex: 1;
  min-width: 150px;
  text-align: center;
}
/* BOOKS CONTAINER */
.books-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 0 1.5rem 2rem;
}
.no-books{
  position: absolute;
  top: 50%;
  left: calc(50% - 150px);
  width: 100%;
  max-width: 300px;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}
#spinner{
  position: absolute;
  top: 50%;
  left: calc(50% - 25px);
}
/* BOOK CARDS */
.book-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 12px rgba(0,0,0,0.08);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.book-cover {
  height: 180px;
  background: #ddd;
  background-size: cover;
  background-position: center;
  transition: transform 0.4s ease;
}
.book-card:hover .book-cover{
  transform: scale(1.1);
}
.book-info {
  padding: 1rem;
  text-transform: capitalize;
}
.book-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-author {
  color: rgb(222, 93, 93);
  margin-bottom: 0.5rem;
}
.book-info span{
  text-transform: capitalize;
  font-size: medium;
  font-weight: 400;
  color: #555;
}
.book-genre {
  font-size: 0.85rem;
  color: #3498db;
  margin-bottom: 0.5rem;
}
.rating {
  color: #f1c40f;
  margin-bottom: 0.5rem;
}
.review {
  text-transform: lowercase;
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.review span{
  color: #56cc87;
}
.date {
  font-size: 0.8rem;
  color: #95a5a6;
  margin-bottom: 0.8rem;
}
.actions {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.timestamp{
  font-size: 12px;
  color: #555;
}
/* MODAL */
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  background: white;
  padding: 1rem;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
}
.modal-content h2 {
  margin-bottom: 0.5rem;
  color: #2c3e50;
}
.form-group{
  padding-top: 0.5rem;
  position: relative;
}
.form-group label {
  margin-bottom: 5px;
}
.error-message{
  position: absolute;
  top: -10px;
  left: 5px;
  color: red;
  font-style: italic;
  font-size: 14px;
}
#confirmModal .modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.modal-buttons{
  display: flex;
  justify-content: center;
  gap: 32px;
}
#bookForm input,
#bookForm select,
#bookForm textarea {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
}
.stars i {
  font-size: 1.5rem;
  color: #ddd;
  cursor: pointer;
  transition: color 0.2s;
}
.stars i.active,
.stars i:hover {
  color: #f1c40f;
}

.status {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.modal-actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 1.5rem;
  background: #2c3e50;
  color: white;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.github-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.github-link:hover {
  text-decoration: underline;
}
.spinner {
  border: 6px solid #d2d1d1;
  border-top: 6px solid #2c3e50;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* RESPONSIVE STYLES */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar {
    max-width: 100%;
    width: 100%;
  }

  .stats {
    flex-direction: column;
    gap: 1rem;
  }

  .modal-content {
    width: 95%;
    max-width: 400px;
  }

  .modal-buttons {
    flex-direction: column;
    gap: 16px;
  }
}
