/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
html{
  height: 100%;
}
body {
  background: #faf7f2;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100%;
}
}
/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *** CONTAINER *** */
.container
{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
}