/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
html{
  height: 100%;
}
body {
  background: #faf7f2;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100%;
}


/* HEADER */
header {
  background: #1e293b;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.logo:hover{
  opacity: 0.8;
}
.search-bar {
  position: relative;
  flex: 1;
  max-width: 400px;
}
.search-bar input {
  width: 100%;
  padding: 0.6rem 2.5rem 0.6rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}
.search-bar i {
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
}
select {
  cursor: pointer;
  padding: 0.6rem 2.5rem 0.6rem 1rem;
  border-radius: 8px;
}
label input{
  cursor: pointer;
}
main{
  flex-grow: 1;
}
/* BUTTON */
button{
  text-transform: capitalize;
}
.btn-primary {
  background: #faf7f2;
  color: #333;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary:hover { background: #ffe7c2; color: #222;}

.btn-secondary {
  background: #95a5a6;
  color: white;
}

.btn-small {
  padding: 0.4rem 0.8rem;
  font-size: 0.85rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-edit { background: #56cc87; color: white; }
.btn-edit:hover { background: #0d9746; }
.btn-delete { background: #d46053; color: white; }
.btn-delete:hover { background: #cc1c08; }

/* STATS */
.stats {
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  flex-wrap: wrap;
}
.stat-card {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  flex: 1;
  min-width: 150px;
  text-align: center;
}
  overflow: hidden;
}

/* *** CONTAINER *** */
.container
{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
}